doctype html
html(lang='en')

link(href="../assets/bootstrap/css/bootstrap" rel="stylesheet")
link(href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet")
link(href="../assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet")
link(href="../assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet")
link(href="../assets/login.css" rel="stylesheet")

head
	title Ganesha Mocktail
	
body
	#header
		p#white.text-center.bg-danger(style="font-size:20px")
			strong
				| Ganesha Mocktail
				br
				| Jalan Gelap Nyawang 3, Bandung
				br
				| RT 02 RW 04 Kelurahan Lebak Siliwangi Kecamatan Coblong
				br
		
	#content
		form(class="form-horizontal")
			.form-group
				.col-xs-4
				.col-xs-2.control-label
					p#white
						strong
							| Username
				.col-xs-2
					input(type="text", placeholder="Username")#username.form-control
			.form-group
				.col-xs-4
				.col-xs-2.control-label
					p#white
						strong
							| Password
				.col-xs-2
					input(type="password", placeholder="Password")#password.form-control
			.form-group
				.col-xs-offset-6
					button(type="submit").btn.btn-default
						| Masuk